body {
  padding-top: 50px;
  background: url(../img/shattered.png) repeat fixed;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

a.list-group-item {
  background-color: #f8f8f8;
}

.top-bits {
  padding: 40px 15px;
  text-align: center;
  height: 377px;
}

.main-logo {
  width: 600px;
}

.trailhead-logo {
  width: 20px;
}

.navbar {
  border-bottom-width: 3px;
}

.navbar .active a {
  color: #B3B3B3 !important;
  background: none !important;
}

.navbar-brand {
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.icon-facebook {
  color: #4862A3;
}

.icon-twitter {
  color: #00ACED;
}

.panel {
  background-color: #f8f8f8;
  padding: 20px;
}

.panel img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img-map {
  width: 100%;
}

.navbar-static-bottom {
  margin-bottom: 0px;
  padding-left: 60px;
  padding-right: 60px;
}

#modal-underlay {
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
